#lobby-main {
  position: relative;
  background-color: black;
  width: 100%;
  height: 100%;
}

fieldset#lobby-player-list {
  margin: 0 auto;
  width: 50%;
  height: 50%;
  max-width: 500px;
  border: 1px solid @highlight;
  color: @highlight;

  legend {
    padding: 0 30px;
    text-align: center;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 700;
  }

  .player-list-item {
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      text-shadow: 1px 1px 5px @highlight;
    }
  }
}

#request-screen {
}

#request-screen-player-id {
  color: @white;
  width: 80%;
  text-align: center;
  font-size: x-large;
  margin: 0 auto;
  margin-bottom: 15px;
}

#request-screen-ok-btn {
  color: @white;
  font-family: inherit;
}

#request-screen-cancel-btn {
  color: @white;
  font-family: inherit;
}