@import url(//fonts.googleapis.com/css?family=Architects+Daughter);
@import "font-awesome/font-awesome";
@import "_vars";

html,
body,
#main-stage {
  position: relative;
  font-family: 'Architects Daughter';
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

@import "lobby";
@import "modal";
@import "btn";