#main-stage {
  background: url(../../src/img/bg_username.jpg) no-repeat center top;
  background-size: contain;
}

#input-username {
  background: transparent;
  border: none;
  box-shadow: none;
  text-align: center;
  outline: none;
  font-family: 'Architects Daughter';
  font-size: 3em;
  color: @primary;

  &:focus {
    border: none;
    box-shadow: none;
    outline: none;
    color: @primary;
  }
}