#main-stage {
  background: url(../../src/img/bg_username.jpg) no-repeat center top;
}

#input-username {
  background: transparent;
  border: none;
  box-shadow: none;
  text-align: center;
  outline: none;
  font-family: 'Architects Daughter';
  font-size: 3em;
  border-bottom: 1px solid @dark-gray;

  &:focus {
    border: none;
    box-shadow: none;
    outline: none;
    border-bottom: 1px solid @dark-gray;
  }
}