#main-stage {
  background: url(../../src/img/bg_username.jpg) no-repeat center top;
  background-size: auto 100%;
}

#input-username {
  background: url(../../src/img/bg_input.png) no-repeat center center;
  background-size: contain;
  border: none;
  box-shadow: none;
  text-align: center;
  outline: none;
  font-family: @font-family;
  font-size: 1.6em;
  color: @primary;
  text-transform: uppercase;

  &:focus {
    border: none;
    box-shadow: none;
    outline: none;
    color: @primary;
  }
}